* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.top {
    display: flex;
    background-color: #fff;
    padding:10px 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); 
    width: 100%;
    position: fixed;
}
p {
    color: #232222;
    font-size: 13px;
    margin-top: 10px;
}
.fa-solid {
    font-size: 3rem;
    padding: 5px;
}
.text {
    color: #ab653d;
    margin-left: 10px;
}
.mid {
    background-color: #f0efef;
    min-height: 93vh;
    padding: 80px 30px;
    text-align: right;
}
.last {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 5px 60px;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.lastbox {
    display: flex;
    align-items: center;  
    gap: 10px;
}
.textbox {
    flex: 1;
    background-color: #f0efef;
    border: 1px solid #d3d2d2;
    padding: 12px;
    outline: none;
    color: #3c3a3a;
    border-radius: 5px;
    font-size: 15px;
}
button {
    border: none;
}
.fa-solid {
    font-size: 22px;
    color: #fff;
    background-color: #ab653d;
    padding: 12px 40px;
    padding-left: 15px;
    border-radius: 5px;
    cursor: pointer;
}
#displayText {
    display: inline-block;
    background: #3c3a3a;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 50%;
    word-wrap: break-word;
    width: fit-content; 
}
